<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>68854230113-ovk822q7s78ipe0jtf3rfgckvltu1s9g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.68854230113-ovk822q7s78ipe0jtf3rfgckvltu1s9g</string>
	<key>API_KEY</key>
	<string>AIzaSyDX_UipJDe5nvdiFI6Wm7rfjCmYJduoM1M</string>
	<key>GCM_SENDER_ID</key>
	<string>68854230113</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tikitakamobile.Thesis-Scrollable-Images</string>
	<key>PROJECT_ID</key>
	<string>scroll21febthird</string>
	<key>STORAGE_BUCKET</key>
	<string>scroll21febthird.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:68854230113:ios:5116d48d1542c1ca4f4e20</string>
</dict>
</plist>