<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>40604012837-mjkookhivdh4ofjlu5mfq7sq69h08dqv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.40604012837-mjkookhivdh4ofjlu5mfq7sq69h08dqv</string>
	<key>API_KEY</key>
	<string>AIzaSyA39-bvVIT_oWzxln4K0eDvFXbSE8TqsuE</string>
	<key>GCM_SENDER_ID</key>
	<string>40604012837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tikitakamobile.Thesis-Scrollable-Images</string>
	<key>PROJECT_ID</key>
	<string>fetching-thesis</string>
	<key>STORAGE_BUCKET</key>
	<string>fetching-thesis.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:40604012837:ios:ee9eb07f6d74d847304acc</string>
</dict>
</plist>