<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1071383710452-1bn1tqc67dmiflbusl480m5t2n31evjh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1071383710452-1bn1tqc67dmiflbusl480m5t2n31evjh</string>
	<key>API_KEY</key>
	<string>AIzaSyDVipfqH5pj1AOb5Teev0p24lSy0gZT8Uk</string>
	<key>GCM_SENDER_ID</key>
	<string>1071383710452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tikitakamobile.Thesis-Scrollable-Images</string>
	<key>PROJECT_ID</key>
	<string>scrollableimages</string>
	<key>STORAGE_BUCKET</key>
	<string>scrollableimages.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071383710452:ios:41a535d1835cfcb17faca1</string>
</dict>
</plist>